* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
    font-family: "Roboto";
    font-size: 1em;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

input[type="text"] {
    outline: none;
    display: block;
}

textarea {
    resize: none;
}

button {
    outline: none;
    display: block;
}

label {
    display: block;
}

ul {
    list-style: none;
}

/* helper classes */

.boxing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.container:extend(.boxing) {
    position: relative;
    padding: 0 0.75em;
}

.view:extend(.boxing) {
    position: relative;
    padding: 0 100% / 18;
}

/* main styles */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 1.5em * 3;
    padding-top: 1em;
    

    .nav-links {
        position: relative;
        float: right;

        .link {
            position: relative;
            cursor: pointer;
            float: left;
            opacity: 0.72;
        }

        .login {
            margin-right: 1.5em * 3;
        }
    }
}

.masthead {
    position: relative;
    height: 100vh;
    padding-top: 1.5em * 12;
    overflow: hidden;

    .manifest {
        position: relative;
        width: (100% / 8) * 5;

        .header {
            position: relative;
            font-size: 3.375em;
            font-weight: 400;
            margin-bottom: 0.8em;
            opacity: 0.72;
        }

        .body {
            position: relative;
            font-family: "Raleway";
            opacity: 0.72;
            font-size: 1.25em;
        }
    }
}

.masthead:before {
    content: "";
    position: absolute;
    right: 100% / 16;
    top: 1.5em * 3;
    width: 1.5em * 20;
    height: 1.5em * 20;
    background: url("../img/bg1.jpg") center no-repeat;
    background-size: 150%;
    animation: rotate 10s infinite;
    transform: rotate(0deg);
}

.login-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 200;
    display: none;

    .close {
        position: absolute;
        top: 1.5em * 4;
        right: 100% / 17;
    }

    .login-form:extend(.boxing) {
        position: relative;
        width: (100% / 8) * 3;
        background-color: white;
        border-radius: 3px;
        margin: auto;
        padding: 1.5em 1em;
        top: 1.5em * 6;

        .header {
            position: relative;
            margin-bottom: 1.5em;
            font-size: 1.5em;
            font-variant: small-caps;
            font-weight: 600;
            opacity: 0.72;
        }

        .text-field {
            position: relative;
            margin: auto;
            margin-bottom: 1.5em;
        }

        .def-button {
            position: relative;
            margin: auto;
            margin-top: 2em;
            background-color: #222;
        }
    }
}

.login-modal.active {
    display: block;
}

.signup-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 200;
    display: none;

    .close {
        position: absolute;
        top: 1.5em * 4;
        right: 100% / 17;
    }

    .signup-form:extend(.boxing) {
        position: relative;
        width: (100% / 8) * 3;
        background-color: white;
        border-radius: 3px;
        margin: auto;
        padding: 1.5em 1em;
        top: 1.5em * 5;

        .header {
            position: relative;
            margin-bottom: 1.5em;
            font-size: 1.5em;
            font-variant: small-caps;
            font-weight: 600;
            opacity: 0.72;
        }

        .text-field {
            position: relative;
            margin: auto;
            margin-bottom: 1.5em;
        }

        .def-button {
            position: relative;
            margin: auto;
            margin-top: 2em;
            background-color: #222;
        }
    }
}

.signup-modal.active {
    display: block;
}

.close-btn {
    position: relative;
    cursor: pointer;
    width: 34px;
    height: 34px;
    background: url("../icons/close-white.svg") center no-repeat;
    background-size: cover;
}

.text-field {
    position: relative;
    padding: 1em;
    font-size: 1em;
    display: block;
}

.def-button {
    position: relative;
    border: transparent;
    display: block;
    font-size: 1em;
    padding: 1em 2.25em;
    color: white;
}